<h2>@ViewBag.Title</h2>
<p data-bind="text: MessageToClient"></p>
<div>
    <div class="form-group">
        <label class="control-label" for="CustomerName">Customer Name:</label>
        <span class="form-control" name="CustomerName" id="CustomerName" data-bind="text: CustomerName"></span>
    </div>
    <div class="form-group">
        <label class="control-label"for="PoNumber">P.O. Number:</label>
        <span class="form-control" name="PONumber" id="PONumber" data-bind="text: PONumber"></span>
    </div>
</div>

<p>
    <a href="/" class="btn btn-default btn-sm">&laquo; Back to List</a>
</p>
