<h2>@ViewBag.Title</h2>
<p data-bind="text: MessageToClient"></p>
<div>
    <div class="form-group">
        <label class="control-label" for="CustomerName">Customer Name:</label>
        <span class="form-control" name="CustomerName" id="CustomerName" data-bind="text: CustomerName"></span>
    </div>
    <div class="form-group">
        <label class="control-label"for="PoNumber">P.O. Number:</label>
        <span class="form-control" name="PONumber" id="PONumber" data-bind="text: PONumber"></span>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Product Code</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Unit Price</th>
        <th class="text-right">Calculated Price</th>
    </tr>
    <tbody data-bind="foreach: SalesOrderItems">
        <tr>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: ProductCode" /></td>
            <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: Quantity" /></td>
            <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: UnitPrice" /></td>
            <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: CalculatedPrice" /></td>
        </tr>
    </tbody>
    <tr>
        <td></td>
        <td></td>
        <td class="form-group"><span class="form-control text-right">Total price:</span></td>
        <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: TotalPrice" /></td>
        <td></td>
    </tr>
</table>

<p>
    <a href="/" class="btn btn-default btn-sm">&laquo; Back to List</a>
</p>
