<h2>@ViewBag.Title</h2>
<p id="MessageToClient" data-bind="text: MessageToClient"></p>
<form>
    <div class="form-group">
        <label class="control-label" for="CustomerName">Customer Name:</label>
        <input class="form-control" name="CustomerName" id="CustomerName"
               data-bind="value: CustomerName, event: {change: flagSalesOrderAsEdited}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="PONumber">P.O. Number:</label>
        <input class="form-control" name="PONumber" id="PONumber"
               data-bind="value: PONumber, event: {change: flagSalesOrderAsEdited}" />
    </div>


    <table class="table table-striped">
        <tr>
            <th>Product Code</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Unit Price</th>
            <th class="text-right">Calculated Price</th>
            <th><button data-bind="click: addSalesOrderItem" class="btn btn-info btn-xs">Add Item</button></th>
        </tr>
        <tbody data-bind="foreach: SalesOrderItems">
            <tr>
                <td class="form-group"><input name="ProductCode" class="form-control input-sm" data-bind="attr:{'id':'ProductCode_' + $index()}, value: ProductCode, event: {change: flagSalesOrderItemAsEdited}, hasfocus: true" /></td>
                <td class="form-group"><input name="Quantity" class="form-control input-sm text-right" data-bind="attr:{'id':'Quantity_' + $index()}, value: Quantity, event: {change: flagSalesOrderItemAsEdited}" /></td>
                <td class="form-group"><input name="UnitPrice" class="form-control input-sm text-right" data-bind="attr:{'id':'UnitPrice_' + $index()}, value: UnitPrice, event: {change: flagSalesOrderItemAsEdited}" /></td>
                <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: CalculatedPrice" /></td>
                <td class="form-group"><button class="btn btn-danger btn-xs" data-bind="click: $parent.deleteSalesOrderItem">Delete</button></td>
            </tr>
        </tbody>
        <tr>
            <td></td>
            <td></td>
            <td class="form-group"><span class="form-control text-right">Total price:</span></td>
            <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: TotalPrice" /></td>
            <td></td>
        </tr>
    </table>

    <p><button  type="submit" class="btn btn-primary">Save</button></p>

    <p>
        <a href="/" class="btn btn-default btn-sm">&laquo; Back to List</a>
    </p>
</form>